:root {
   --phone_width2: 202.92px;
   
   --phone_height2: calc(374.41 / 185.09 * var(--phone_width2));
   --phone_margin_bottom2: calc(16.72 / 185.09 * var(--phone_width2));
   --phone_margin_right2: calc(53 / 185.09 * var(--phone_width2));
   --phone_margin_left2: calc(224.86 / 185.09 * var(--phone_width2));

   --phone_body_paddings2: calc(((185.09 - 162.37) / 2) / 185.09 * var(--phone_width2));
   --phone_body_border_radius2: calc(15.1774 / 162.37 * var(--phone_width2));

   --phone_body_glass_width2: calc(162.73 / 185.09 * var(--phone_width2));
   --phone_body_glass_height2: calc(349.24 / 185.09 * var(--phone_width2));
   --phone_body_glass_border_radius2: calc(15.1774 / 185.09 * var(--phone_width2));

   --phone_body_mic_camera_width2: calc(49.6 / 185.08 * var(--phone_width2));
   --phone_body_mic_camera_height2: calc(6.55 / 185.08 * var(--phone_width2));
   --phone_body_mic_camera_margin_top2: calc(11.71 / 185.08 * var(--phone_width2));
   --phone_body_mic_camera_margin_left2: calc(49.04 / 185.08 * var(--phone_width2));
   --phone_body_mic_camera_margin_bottom2: calc(13.56 / 185.08 * var(--phone_width2));

   --phone_body_camera_diameter2: calc(5.36 / 185.08 * var(--phone_width2));
   --phone_body_mic_width2: calc(33.95 / 185.08 * var(--phone_width2));
   --phone_body_mic_width2: calc(33.95 / 185.08 * var(--phone_width2));
   --phone_body_mic_border_radius2: calc(3.12476 / 185.08 * var(--phone_width2));

   --phone_body_screen_height2: calc(288.7 / 185.08 * var(--phone_width2));

   --phone_body_home_button_width2: calc(53.72 / 185.08 * var(--phone_width2));
   --phone_body_home_button_height2: calc(17.85 / 185.08 * var(--phone_width2));
   --phone_body_home_button_border_radius2: calc(8.93 / 185.08 * var(--phone_width2));
   --phone_body_home_button_margin_top2: calc(6.97 / 185.08 * var(--phone_width2));
   --phone_body_home_button_margin_bottom2: calc(3.9 / 185.08 * var(--phone_width2));
   --phone_body_home_button_margin-left2: calc(54.88 / 185.08 * var(--phone_width2));

   --phone_power_button_width2: calc(2.05 / 185.08 * var(--phone_width2));
   --phone_power_button_height2: calc(24.51 / 185.08 * var(--phone_width2));
   --phone_power_button_top2: calc(95.39 / 185.08 * var(--phone_width2));

   --phone_volume_button_width2: calc(2.05 / 185.08 * var(--phone_width2));
   --phone_volume_button_height2: calc(59.92 / 185.08 * var(--phone_width2));
   --phone_volume_button_top2: calc(127.34 / 185.08 * var(--phone_width2));
   


} 

.phone2 {
   margin-bottom: var(--phone_margin_bottom2);

   
}
.phone_body2 {
   position: relative;
   box-sizing: border-box;
   width: var(--phone_width2);
   height: var(--phone_height2);
   border-radius: var(--phone_body_border_radius2);
   
   padding: var(--phone_body_paddings2);
   background-color: #E3E8ED;
   box-shadow: -17.3985px 18.8483px 38.6632px rgba(0, 0, 0, 0.5), inset 3.86632px -1.93316px 6.76607px #C6CFDA, inset -5.3162px -15.4653px 19.3316px #FFFFFF;
}

.body_glass2 {
   
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #E3E8ED;
   width: var(--phone_body_glass_width2);
   height: var(--phone_body_glass_height2);
   border-radius: var(--phone_body_glass_border_radius2);
   box-shadow: 0px 0px 8.4815px #E4E8ED;
}
.body_screen2 {
   overflow: hidden;
   box-sizing: border-box;
   width: 100%;
   height: var(--phone_body_screen_height2);
}
.phone_screen_image2 {
   width: 100%;
   height: var(--phone_body_screen_height2);
   
}
.mic_camera2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: var(--phone_body_mic_camera_width2);
   height: var(--phone_body_mic_camera_height2);
   margin-top: var(--phone_body_mic_camera_margin_top2);
   margin-left: var(--phone_body_mic_camera_margin_left2);
   margin-bottom: var(--phone_body_mic_camera_margin_bottom2);
}

.camera2 {
   width: var(--phone_body_camera_diameter2);
   height: var(--phone_body_camera_diameter2);
   border-radius: 50%;
   background: #CDD5DD;
   box-shadow: inset 0px 0.446395px 0.446395px rgba(0, 0, 0, 0.5), inset 0px -0.446395px 0.446395px #FFFFFF;

}
.mic2 {
   width: var(--phone_body_mic_width2);
   height: 100%;
   background: #CDD5DD;
   box-shadow: inset 0px 0.446395px 0.223197px rgba(0, 0, 0, 0.381058), inset 0px -0.446395px 0.446395px #FFFFFF;
   border-radius: 3.12476px;
}
.home_button2 {
   width: var(--phone_body_home_button_width2);
   height: var(--phone_body_home_button_height2);
   border-radius: var(--phone_body_home_button_border_radius2);
   background: #E3E8ED;
   box-shadow: inset 0px 0.446395px 0.446395px #FFFFFF, inset 0px -0.446395px 0.446395px #C9D1DB;
   margin-top: var(--phone_body_home_button_margin_top2);
   margin-bottom: var(--phone_body_home_button_margin_bottom2);
   margin-left: var(--phone_body_home_button_margin-left2);
}
.phone_power_button2 {
   width: var(--phone_power_button_width2);
   height: var(--phone_power_button_height2);
   background: #E3E7EC;
   box-shadow: inset 0px 0px 4.01755px #E3E8ED;
   border-radius: 1.33918px 0px 0px 1.33918px;
   position: absolute;
   top: var(--phone_power_button_top2);
   left: calc((-1) * var(--phone_power_button_width2));
}
.phone_volume_button2 {
   width: var(--phone_volume_button_width2);
   height: var(--phone_volume_button_height2);
   background: #E3E7EC;
   box-shadow: inset 0px 0px 8.4815px #E3E8ED;
   border-radius: 1.33918px 0px 0px 1.33918px;
   position: absolute;
   top: var(--phone_volume_button_top2);
   left: calc((-1) * var(--phone_volume_button_width2));
}
