$red: #FF3E1D;
$green: #00D200;

.big-search__container {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $green;
    display: flex;
    justify-content: center;
    align-items: center;
}