.small-sizes__sizes-block
    button.block__item.sizes__small.first-item
        span S
    button.block__item.sizes__small.rest-item
        span M
    button.block__item.sizes__small.last-item
        span L